
body {
    background-color: firebrick;
    padding-left: 100px;
    padding-right: 100px;
       }
   p{ background-color: firebrick;
        color: white;}
   h4{ color: white;}
   h2{ color:white;}
